# fix tmux+htop refresh bug
alias htop='TERM=screen htop'

# ls (with color)
alias ls='ls -laC --color'

# always use escape characters with less
alias less='less -R'

# ip
alias myip='curl -s http://ipinfo.io/ip'
alias myip-info='curl -s http://ipinfo.io; echo'

# network-info
alias ni='network-info.sh'

# ps?
alias 'ps?'='pgrep -af '

# systemd helpers
alias '.start'='sudo systemctl start '
alias '.start-user'='systemctl --user start '
alias '.stop'='sudo systemctl stop '
alias '.stop-user'='systemctl --user stop '
alias '.restart'='sudo systemctl restart '
alias '.restart-user'='systemctl --user restart '
alias '.enable'='sudo systemctl enable '
alias '.enable-user'='systemctl --user enable '
alias '.disable'='sudo systemctl disable '
alias '.disable-user'='systemctl --user disable '
alias '.reboot'='sudo systemctl reboot'
alias '.suspend'='sudo systemctl suspend'
alias '.poweroff'='sudo systemctl poweroff'
alias '.daemon-reload'='sudo systemctl daemon-reload'
alias '.daemon-reload-user'='systemctl --user daemon-reload'
alias '.enabled'='systemctl list-unit-files | grep enabled | grep -i '
alias '.enabled-user'='systemctl --user list-unit-files | grep enabled | grep -i '
alias '.enabled-list'='systemctl list-unit-files | grep enabled'
alias '.enabled-list-user'='systemctl --user list-unit-files | grep enabled'
alias '.timer'='systemctl list-timers | grep -i '
alias '.timer-user'='systemctl --user list-timers | grep -i '
alias '.timers'='systemctl list-timers'
alias '.timers-user'='systemctl --user list-timers'
alias '.disabled'='systemctl list-unit-files | grep disabled | grep -i '
alias '.disabled-user'='systemctl --user list-unit-files | grep disabled | grep -i '
alias '.disabled-list'='systemctl list-unit-files | grep disabled'
alias '.disabled-list-user'='systemctl --user list-unit-files | grep disabled'

# journal helpers
alias '.journal'='journalctl -f'
alias '.journal-user'='journalctl --user -f'
alias '.journal-unit'='journalctl -f -u '
alias '.journal-unit-user'='journalctl -f --user-unit '
alias '.journal-since-boot'='journalctl -b -nall -e'
alias '.journal-last-boot'='journalctl -b -1 -nall -e'

# update helpers
alias ',sysupdate'='sudo apt -y update; sudo apt -y upgrade; sudo apt -y dist-upgrade; sudo apt -y autoclean; sudo apt -y autoremove'
alias ',zshupdate'='zplg update; zplg self-update'
alias ',vimupdate'='vim +'PlugUpgrade' +'PlugUpdate' +'UpdateRemotePlugins' +qa'

# misc helpers
alias '.help'='cat ~/remote-dots/help.txt'
