# e for exit
alias e="exit"

# fix tmux+htop refresh bug
alias htop='TERM=screen htop'

# ls (with color)
alias ls='ls -laC --color'

# always use escape characters with less
alias less='less -R'

# ip
alias myip='curl -s http://ipinfo.io/ip'
alias myip-info='curl -s http://ipinfo.io; echo'

# network-info
alias ni='network-info.sh'

# search helpers
alias 'fi?'='find ./ | grep -i $1'
alias 'ls?'='ls -lh ./ | grep -i $1'
alias 'hi?'='cat ~/.zhistory | grep -i $1'
alias 'ps?'='pgrep -af $1'
alias 'yi?'='yay -Q | grep -i $1'
alias 'ai?'='dpkg -l | grep -i $1'

# systemd helpers
alias '.start'='sudo systemctl start $1'
alias '.start-user'='systemctl --user start $1'
alias '.stop'='sudo systemctl stop $1'
alias '.stop-user'='systemctl --user stop $1'
alias '.restart'='sudo systemctl restart $1'
alias '.restart-user'='systemctl --user restart $1'
alias '.enable'='sudo systemctl enable $1'
alias '.enable-user'='systemctl --user enable $1'
alias '.disable'='sudo systemctl disable $1'
alias '.disable-user'='systemctl --user disable $1'
alias '.reboot'='sudo systemctl reboot'
alias '.suspend'='sudo systemctl suspend'
alias '.poweroff'='sudo systemctl poweroff'
alias '.daemon-reload'='sudo systemctl daemon-reload'
alias '.daemon-reload-user'='systemctl --user daemon-reload'
alias '.enabled'='systemctl list-unit-files | grep enabled | grep -i $1'
alias '.enabled-user'='systemctl --user list-unit-files | grep enabled | grep -i $1'
alias '.enabled-list'='systemctl list-unit-files | grep enabled'
alias '.enabled-list-user'='systemctl --user list-unit-files | grep enabled'
alias '.timer'='systemctl list-timers | grep -i $1'
alias '.timer-user'='systemctl --user list-timers | grep -i $1'
alias '.timers'='systemctl list-timers'
alias '.timers-user'='systemctl --user list-timers'
alias '.disabled'='systemctl list-unit-files | grep disabled | grep -i $1'
alias '.disabled-user'='systemctl --user list-unit-files | grep disabled | grep -i $1'
alias '.disabled-list'='systemctl list-unit-files | grep disabled'
alias '.disabled-list-user'='systemctl --user list-unit-files | grep disabled'

# journal helpers
alias '.journal'='journalctl -f'
alias '.journal-user'='journalctl --user -f'
alias '.journal-unit'='journalctl -f -u $1'
alias '.journal-unit-user'='journalctl -f --user-unit $1'
alias '.journal-since-boot'='journalctl -b -nall -e'
alias '.journal-last-boot'='journalctl -b -1 -nall -e'

# update helpers
alias ',zshupdate'='zplg update; zplg self-update; zplg cclear'
alias ',vimupdate'='vim +'PlugUpgrade' +'PlugUpdate' +'UpdateRemotePlugins' +qa'

# misc helpers
alias '.help'='cat ~/remote-dots/help.txt'


# vim: ft=sh
