# fix tmux+htop refresh bug
alias htop="TERM=screen htop"

# ls (with color)
alias ls="ls -laC --color"

# always use escape characters with less
alias less="less -R"

# ip
alias myip="curl -s http://ipinfo.io/ip"
alias myip-info="curl -s http://ipinfo.io; echo ''"

# network-info
alias ni="network-info.sh"

# ps?
alias ps?="pgrep -af "

# systemd helpers
alias '.start'='sudo systemctl start '
alias '.stop'='sudo systemctl stop '
alias '.restart'='sudo systemctl restart '
alias '.enable'='sudo systemctl enable '
alias '.disable'='sudo systemctl disable '
alias '.reboot'='sudo systemctl reboot'
alias '.suspend'='sudo systemctl suspend'
alias '.poweroff'='sudo systemctl poweroff'
alias '.daemon-reload'='sudo systemctl daemon-reload'
alias '.enabled'='systemctl list-unit-files | grep enabled | grep -i '
alias '.enabled-list'='systemctl list-unit-files | grep enabled'
alias '.disabled'='systemctl list-unit-files | grep disabled | grep -i '
alias '.disabled-list'='systemctl list-unit-files | grep disabled'
alias '.journal'='journalctl -f'
alias '.journal-unit'='journalctl -f -u '
alias '.journal-since-boot'='journalctl -b -nall -e'
alias '.journal-last-boot'='journalctl -b -1 -nall -e'

# ubuntu helpers
alias ',sysupgrade'='sudo apt -y update; sudo apt -y upgrade; sudo apt -y dist-upgrade; sudo apt -y autoclean; sudo apt -y autoremove'
